<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>stringin.gs</title>
<link rel="stylesheet" href="/stylesheets/app.css" />
<link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/images/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
<link href="/images/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
<link href="/images/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
<link rel="icon" type="image/png" href="/images/favicon.png">
<script src="/javascripts/modernizr.custom.js"></script>
</head>
<body data-on-load="initHistory" data-initial="<%= @view %>">
	<div class="all-container">
		<div class="app-nav" data-on-mouseenter="moveContent">
			<a class="home" href="/" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".home" data-key="h">
				<img class="mark" src="/images/stringings.png" /> <span><img src="/images/wstringings.png" /></span>
			</a>
			<ul>
				<li><a href="#" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".stringers" data-key="s"><strong>S</strong><span>tringers</span></a><a class="add" href="#" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".add-stringer">Add</a></li>
				<li><a href="#" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".events" data-key="e"><strong>E</strong><span>vents</span></a><a class="add" href="">Add</a></li>
				<li><a href="#" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".racquets" data-key="r"><strong>R</strong><span>acquets</span></a><a class="add" href="">Add</a></li>
				<li><a href="#" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".strings" data-key="t"><strong>S</strong><span>trings</span></a><a class="add" href="">Add</a></li>
				<li><a href="#" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".customers" data-key="c"><strong>C</strong><span>ustomers</span></a><a class="add" href="">Add</a></li>
			</ul>
			<h3>Settings</h3>
			<ul>
				<li><a href="#" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".account" data-key="a"><strong>A</strong><span>ccount</span></a></li>
				<li><a href="#" data-on-click="showPanel,moveContentBack" data-move="touch" data-panel=".billing" data-key="b"><strong>B</strong><span>illing</span></a></li>
				<li><a href="/logout"><strong>L</strong><span>og Out</span></a></li>
			</ul>
		</div>
		<div class="app-content" data-on-mouseenter="moveContentBack">
			<%= yield %>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="/javascripts/app.js"></script>
</body>
</html>