<div class="panel add-event">
	<div class="flexhead">
		<div class="toptop">
			<span class="icon-arrow-left" data-on-click="hidePanel" data-panel=".add-event"></span>
		</div>
		<h1>New Event</h1>
		<!-- <span class="save" data-on-click="addStringer,showPanel" data-panel=".stringers">Save</span> -->
	</div>
	<div class="flexbody">
		<form>
			<div class="form-row">
				<label for="new-event-name">Name</label>
				<input id="new-event-name" type="text" name="events/name">
			</div>
			<div class="form-row">
        <label for="new-event-start">Start</label>
  			<input id="new-event-start" name="events/start" type="text">
  		</div>
      <div class="form-row">
        <label for="new-event-end">End</label>
  			<input id="new-event-end" name="events/end" type="text">
  		</div>
		</form>
		<button type="button" name="button" data-on-click="showPanel" fire-on-click="push events" data-panel=".events">Save</button>
	</div>
</div>
