<div class="panel add-stringer">
	<div class="flexhead">
		<div class="toptop">
			<span class="icon-arrow-left" data-on-click="hidePanel" data-panel=".add-stringer"></span>
		</div>
		<h1>New Stringer</h1>
		<!-- <span class="save" data-on-click="addStringer,showPanel" data-panel=".stringers">Save</span> -->
	</div>
	<div class="flexbody">
		<form>
			<div class="form-row">
				<label for="new-stringer-first-name">First Name</label>
				<input id="new-stringer-first-name" type="text" name="stringers/fname">
			</div>
			<div class="form-row">
				<label for="new-stringer-last-name">Last Name</label>
				<input id="new-stringer-last-name" type="text" name="stringers/lname">
			</div>
		</form>
		<button type="button" name="button" data-on-click="showPanel" fire-on-click="push stringers" data-panel=".stringers">Save</button>
	</div>
</div>
