<div class="panel customers" fire-data="customers" fire-list="true">
	<div class="head">
		<div class="toptop">
			<!-- @@include _hamburger.html -->
			<span class="icon-search"></span>
		</div>
		<h1>Customers</h1>
	</div>
	<div class="body">
		<div class="list">
			{{#each customers }}
				<p data-on-click="getData,showPanel" data-url="{{ __path }}" data-panel=".customer">{{ fname }} {{ lname }} <span class="delete">&times;</span></p>
			{{/each}}
		</div>
	</div>
	<span class="create" data-on-click="showPanel" data-panel=".add-customer">&plus;</span>
</div>
