<div class="panel edit-customer checkFirst" fire-data="">
  <div class="head">
  	<div class="toptop">
  		<span class="icon-arrow-left" data-on-click="hidePanel" data-panel=".edit-customer"></span>
      <span data-on-click="hidePanel" fire-on-click="update {{ __path }}" data-panel=".edit-customer">DONE</span>
  	</div>
  	<h1>&nbsp;</h1>
  </div>
  <div class="body">
  	<form>
      <div class="form-row">
  			<label for="edit-customer-first-name">First Name</label>
  			<input id="edit-customer-first-name" type="text" name="{{ __path }}/fname" value="{{ fname }}">
  		</div>
  		<div class="form-row">
  			<label for="edit-customer-last-name">Last Name</label>
  			<input id="edit-customer-last-name" type="text" name="{{ __path }}/lname" value="{{ lname }}">
  		</div>
  	</form>
  </div>
</div>
