<div class="panel string checkFirst" fire-data="">
	<div class="head">
		<div class="toptop">
			<span class="icon-arrow-left" data-on-click="showPanel" data-panel=".strings"></span>
      <span data-on-click="getData,showPanel" data-url="{{ __path }}" data-panel=".edit-string">EDIT</span>
		</div>
		<h1>{{ name }} {{ gauge }}</h1>
	</div>
	<div class="body" fire-extend="stringings" fire-order-by-child="string" fire-equal-to="{{ brand }} {{ name }} {{ gauge }}" fire-on="value" fire-list="true">
		{{#if stringings}}
		<div class="tabview">
			<div class="tabs">
				<div data-on-click="showTab" data-tab="#stringer-day" class="selected">Day</div>
				<div data-on-click="showTab" data-tab="#stringer-week">Week</div>
				<div data-on-click="showTab" data-tab="#stringer-month">Month</div>
			</div>
			<div class="tab show" id="stringer-day">
				<h2 class="data">{{stringings_count_by stringings "day"}} <span>done</span></h2>
				<div class="scroll data bottom vert" id="stringer-day-strung">
					<div class="list">
						{{#stringings_today stringings}}
						{{/stringings_today}}
					</div>
				</div>
			</div>
			<div class="tab" id="stringer-week">
				<h2 class="data">{{stringings_count_by stringings "week"}} <span>done</span></h2>
					{{#stringings_this_week stringings}}
					{{/stringings_this_week}}
			</div>
			<div class="tab" id="stringer-month">
				<h2 class="data">{{stringings_count_by stringings "month"}} <span>done</span></h2>
				<div class="data bars bottom vert">
					{{#stringings_this_month stringings}}
					{{/stringings_this_month}}
				</div>
			</div>
		</div>
		{{/if}}
		{{#unless stringings}}
		<div class="data none">
			<div>
				<h2>There are no stringings to show!</h2>
				<a href="" data-on-click="showPanel" data-panel=".add-stringing">Add stringing</a>
			</div>
		</div>
		{{/unless}}
	</div>
</div>
