<div class="panel add-string">
	<div class="flexhead">
		<div class="toptop">
			<span class="icon-arrow-left" data-on-click="hidePanel" data-panel=".add-string"></span>
		</div>
		<h1>New String</h1>
		<!-- <span class="save" data-on-click="addStringer,showPanel" data-panel=".stringers">Save</span> -->
	</div>
	<div class="flexbody">
		<form>
      <div class="form-row">
				<label for="new-string-brand">Brand</label>
				<input id="new-string-brand" type="text" name="strings/brand">
			</div>
			<div class="form-row">
				<label for="new-string-name">Name</label>
				<input id="new-string-name" type="text" name="strings/name">
			</div>
			<div class="form-row">
				<label for="new-string-guage">Guage</label>
				<input id="new-string-guage" type="text" name="strings/guage">
			</div>
		</form>
		<button type="button" name="button" data-on-click="showPanel" fire-on-click="push strings" data-panel=".strings">Save</button>
	</div>
</div>
