<div class="panel customers" fire-data="customers" fire-list="true">
	<div class="flexhead">
		<div class="toptop">
<div class="hamburger" id="hamburger" data-on-click="toggleContent">&bull; &bull; &bull;</div>

			<span class="icon-search"></span>
		</div>
		<h1>Customers</h1>
	</div>
	<div class="flexbody">
		<div class="list">
			{{#each customers }}
				<p data-on-click="getData,showPanel" data-url="{{path}}" data-panel=".customer">{{ fname }} {{ lname }} <span class="delete">&times;</span></p>
			{{/each}}
		</div>
	</div>
	<span class="create" data-on-click="showPanel" data-panel=".add-customer">&plus;</span>
</div>
