<div class="panel edit-event checkFirst" fire-data="">
  <div class="head">
  	<div class="toptop">
  		<span class="icon-arrow-left" data-on-click="hidePanel" data-panel=".edit-event"></span>
      <span data-on-click="hidePanel" fire-on-click="update {{ __path }}" data-panel=".edit-event">DONE</span>
  	</div>
  	<h1>&nbsp;</h1>
  </div>
  <div class="body">
  	<form>
			<div class="form-row">
				<label for="edit-event-name">Name</label>
				<input id="edit-event-name" type="text" name="{{ __path }}/name"  value="{{ name }}">
			</div>
      <div class="form-row">
				<label for="edit-event-start">Start Date</label>
				<input id="edit-event-start" type="text" name="{{ __path }}/start" value="{{ start }}" data-on-focus="buildDropper">
			</div>
      <div class="form-row">
				<label for="edit-event-end">End Date</label>
				<input id="edit-event-end" type="text" name="{{ __path }}/end"  value="{{ end }}" data-on-focus="buildDropper">
			</div>
  	</form>
  </div>
</div>
