<div class="panel racquets" fire-data="" fire-list="true">
	<div class="flexhead">
		<div class="toptop">
			<span class="icon-arrow-left" data-on-click="showPanel" data-panel=".customer"></span>
			{{#if racquets}}
			<span class="icon-search"></span>
			{{/if}}
		</div>
		<h1>Racquets</h1>
	</div>
	<div class="flexbody">
		{{#if racquets}}
			{{#each racquets}}
			<div class="list">
				<p>{{ brand }} {{ name }} {{ guage }} <span class="delete">&times;</span></p>
			</div>
			{{/each}}
		{{/if}}
		{{#unless racquets}}
		<div class="data none">
      <div>
				<h2>This customer has no racquets!</h2>
        <a href="" data-on-click="getData,showPanel" data-url="{{ parent }}" data-panel=".add-racquet">Add a racquet</a>
      </div>
    </div>
		{{/unless}}
	</div>
	{{#if racquets}}
	<span class="create" data-on-click="getData,showPanel" data-url="{{ parent }}" data-panel=".add-racquet">&plus;</span>
	{{/if}}
</div>
