$background: #f6f6f6;
$shade: #EEE;
$shaded_border: #E1E1E1;
$dark_blue: #505050;
$link_blue: #008FF5;

$green: #82BD42;

$placeholder: #999;

$darkest_background: #222;
$darkest_text: #c8c8c8;
$darkest_link: #aaa;
$darkest_border: #2d2d2d;
$darkest_highlight: #111;
