input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="range"] {
	display: none;
}
input[type="text"]:not(.range),
input[type="number"]:not(.range) {
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid $shaded_border;
	display: block;
	float: left;
	width: 70%;
	box-sizing: border-box;
	padding: 0 .6rem;
	height: 3rem;
	max-height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	color: $dark_blue;
	+ .plus {
		font-family: arial,serif;
		display: block;
		width: 2rem;
		height: 2rem;
		border: 1px solid $link_blue;
		border-radius: 50%;
		text-align: center;
		line-height: 2rem;
		font-size: 2rem;
		color: $link_blue;
		position: absolute;
		top: 50%;
		right: 1rem;
		margin-top: -1rem;
		cursor: pointer;
	}
}
.results {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
	background: white;
	z-index: 200;
	overflow-x: hidden;
	overflow-y: auto;
	p {
		background: white;
		color: $darkest_text;
	}
	&.gonzo {
		display: none;
	}
}

.form-row {
	position: relative;
	display: block;
	@include clearfix;
	&.border {
		border-bottom: 1px solid $shaded_border;
	}
	label {
		float: left;
		width: 30%;
		white-space: nowrap;
		text-overflow: ellipsis;
		background: transparent;
		border: none;
		outline: none;
		border-bottom: 1px solid $shaded_border;
		box-sizing: border-box;
		padding: 0 .6rem;
		height: 3rem;
		max-height: 3rem;
		line-height: 3rem;
		font-size: .7rem;
		color: $placeholder;
	}
}

form {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 3rem;
	overflow-x: hidden;
	overflow-y: auto;
	&.no-scroll {
		overflow-y: hidden;
	}
}
