@include media($bp-small) {
	.hamburger {
		display: inline-block;
		position: absolute;
		top: .1em;
		left: 0em;
		width: 2.1em;
		height: 1.5em;
		z-index: 12;
		background: transparent;
		font-size: 2.2em;
		line-height: 1.5em;
		text-align: center;
		letter-spacing: -.03em;
		cursor: pointer;
		span:nth-child(1) {
			border-top: .3rem solid $dark_blue;
			padding-top: .2rem;
			border-bottom: .3rem solid $dark_blue;
			display: block;
			margin-bottom: .2rem;
		}
		span:nth-child(2) {
			border-bottom: .3rem solid $dark_blue;
			display: block;
		}
	}
}

@include media($bp-large) {
	.hamburger {
		display: none;
	}
}