.hamburger {
	background: transparent;
	text-align: center;
	letter-spacing: -.03em;
	cursor: pointer;
}

.single {
	.hamburger {
		padding: 0 10px;
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
	}
}

.no-touch {
	@include media($bp-large) {
		.hamburger {
			display: none;
		}
	}
}
