.list {
	p {
		background: white;
		position: relative;
		border-bottom: 1px solid $shaded_border;
		box-sizing: border-box;
		padding: 1rem .6rem;
		margin: 0;
		font-size: .8rem;
		color: $dark_blue;
		cursor: pointer;
		.delete {
			background: red;
			top: 0;
			right: 0;
			position: absolute;
			color: white;
			height: 100%;
			width: 7em;
			text-align: center;
			line-height: 3.2em;
			display: none;
		}
	}
}
