.panel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $background;
	opacity: 0;
	z-index: 10;
	@include transform(translate(100%,0));
	@include transition (all .4s ease-in-out);
	.head {
		color: $dark_blue;
		font-weight: 300;
		font-size: 1rem;
		text-align: center;
		margin: 0;
		min-height: 6rem;
		height: 6rem;
		max-height: 6rem;
		background: white;
		border-bottom: 1px solid $shaded_border;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		* {
			margin: 0;
		}
		.toptop {
			position: relative;
			height: 3rem;
			max-height: 3rem;
			* {
				width: 3rem;
				height: 3rem;
				max-height: 3rem;
				max-width: 3rem;
				text-align: center;
				line-height: 3rem;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				&:last-child:not(:first-child) {
					font-size: .8rem;
					top: 0;
					left: auto;
					right: 0;
				}
			}
		}
		h1 {
			text-align: center;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-weight: 100;
			font-size: 1.6rem;
			padding: 0 .5rem;
		}
		&.no-words {
			background: transparent;
			border-bottom: 0;
		}
	}
	.body {
		position: absolute;
		top: 6rem;
		left: 0;
		right: 0;
		bottom: 0;
		&.scrollable {
			overflow-x: hidden;
			overflow-y: auto;
		}
		&.alone {
			top: 0;
		}
		&.withbottom {
			bottom: 3rem;
		}
	}
	.bottom-nav {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		max-height: 3rem;
		height: 3rem;
		min-height: 3rem;
		background: $link_blue;
		color: white;
		text-align: center;
		span {
			width: 3rem;
			height: 3rem;
			line-height: 3rem;
			text-align: center;
			display: inline-block;
			margin: 0 auto;
			img {
				width: 50%;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	&.visible {
		opacity: 1;
		@include transform(translate(0,0));
	}
	&.loading {
		z-index: 300;
		.loader {
			text-align: center;
			font-size: 1rem;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			span:first-child {
				margin-left: 10px;
				margin-right: 3px;
			}
			span:last-child {
				margin-left: 3px;
			}
		}
	}
}
