.tabview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .tabs {
    min-height: 3rem;
    max-height: 3rem;
    height: 3rem;
    @include clearfix;
    * {
      display: block;
      float: left;
      height: 3rem;
      max-height: 3rem;
      width: 33.3333333%;
      text-align: center;
      line-height: 3rem;
      text-transform: uppercase;
      color: $link_blue;
      padding: 0 .5rem;
      background: $background;
      border-bottom: 2px solid $background;
      @include transition(.2s all linear);
      box-sizing: border-box;
      &.selected {
        border-bottom: 2px solid $link_blue;
      }
    }
  }
  .tab {
    display: none;
    &.show {
      position: absolute;
      display: block;
      top: 3rem;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
