table {
  width: 100%;
  &.bars {
  }
  &.flat {
    td {
      padding: .2rem 0;
    }
    td:first-child {
      width: 1.6rem;
      text-align: center;
    }
    td > span {
      width: 100%;
      display: block;
      background: rgba(0, 0, 0, 0.05);
      height: .4rem;
      position: relative;
      span {
        height: .4rem;
        background: $green;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    td:last-child {
      width: 2.2rem;
      padding-left: .4rem;
      padding-right: .4rem;
      text-align: right;
    }
  }
}
